.Navbar-header{
   display: flex;
   justify-content: space-evenly;
   text-align: center;
   flex-direction: row;
   width: 100%;
   height: 65px;
   background-color: white;
}
.blue-big{
  color:Dodgerblue;
  font-size:40px;
}
.blue-small{
  width: 100px;
  height: 45px;
  padding-left: 26px;
  padding-top: 6px;
  margin-right: 40px;
  margin-left: 10px;
  font-size:30px;
  color: #b6b9bd;
  border-radius: 6px;
}
.blue-small:hover{
  background: #EBEDF0;
  
  
}
.taskbar{
  margin-top: 10px;
  margin-left: 10px;
}
.search-bar{
  border-radius: 20px;
  width: 280px !important;
  height: 38px !important;
  position: relative;
  top: -5px !important;
  background-color: #f2f4f5;
  text-align:start;
  padding-left: 35px;
}
.right-icon{
  margin-top: 1%;
  height: 40px;
  width: 40px;
  background-color: #EBEDF0;
  border-radius: 50%;
  padding-top: 0.7rem;
  
}
.right-icon:hover{
background-color: #CCD0D5;
}
.dogerblued{
  margin-top: 1%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding-top: 0.7rem;
 color: dodgerblue;
 background-color: #ECF3FF;
  }
.user-icon{
  max-width: 10% !important; 
  height: 40px;
}
p{
  float: left;
}
.placeholder-icon{
  position: fixed;
  z-index: 1;
  left: 125px;
  top: 25px;
  color: #b6b9bd;
}
@media screen and (max-width: 600px) {
  .blue-small{
   display: none;
  }
  .search-bar,.placeholder-icon{
    display: none;
  }
  .Navbar-header{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: row;
     width: 100%;
     height: 65px;
     background-color: white;
 }
 .right-icon{
   position: relative;
   margin-top: 10px;
 }
  }