.Navbar-header{
  position: sticky;
    width: 100%;
    height: 65px;
    background-color: white;
}
.taskbar{
     transform: scaleX(-1);  
     transform: rotate(180deg);
}
.right-icon{
  position: sticky;
  float: right;
  margin-top: 1%;
  height: 40px;
  width: 40px;
  background-color: #EBEDF0;
  border-radius: 50%;
  margin-right:20px ;
  text-align: center;
  padding-top: 0.7rem;
}
.right-icon:hover{
background-color: #CCD0D5;
}
.user-icon{
  max-width: 10% !important; 
  height: 40px;
}
p{
  float: left;
}
/* .threedots{

} */